<div class="book">
  {{#unless detail}}
    <img class="book-cover-small" src="{{cover}}" alt="{{title}} cover" />
  {{/unless}}

  <div class="book-details">
    <h2>{{title}} - by {{author}}</h2>
    <p>Published in {{year}}</p>
    {{#if detail}}
      <p>{{description}}</p>
      <img class="book-cover-large" src="{{cover}}" alt="{{title}} cover" />
      <br />
      <a href="/books/{{_id}}/update">Update</a>
      <a href="/books/{{_id}}/delete">Delete</a>
      {{!-- 
      <form method="POST" action="/books/{{_id}}/delete">
        <button type="submit">Delete book</button>
      </form> --}}
      
      {{#if featuring}}
      <h3>Book featuring</h3>
      {{#each featuring as |featuring|}}
        <a href="/characters/{{featuring.character._id}}">{{featuring.character.name}}</a>
      {{/each}}
      {{/if}}

      {{#if reviews}}
      <h3>Book reviews</h3>
      {{#each reviews as |review|}}
        {{> review review=review}}
      {{/each}}
      {{/if}}
    {{else}}
      <a href="/books/{{id}}">Read more</a>
    {{/if}}
  </div>
</div>